<div class="detail">
    <div class="picture">
        <img src="{{room.image}}" alt="room picture">
    </div>
    <div class="info">
        <h1 class="name">{{room.name}}</h1>
        <hr>
        <span class="address"><small>{{room.area}}</small></span>
        <br>
        <span class="address"><small>{{room.state}}</small></span>
        <div class="price">
            <span>From</span><span class="number">${{room.price}}</span>
            <br>
            <span class="unit">USD / Month</span>
        </div>
    </div>
</div>